<!-- Title page -->
<!--section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');"-->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" >
	
	<h2 class="ltext-105 cl0 txt-center" style="color:black">
		Contactar
	</h2>
</section>	
<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div>
			<h3>Correo: </h3>
			<a href="mailto:miniferreterialacadena@gmail.com">miniferreterialacadena@gmail.com</a>
			<h3>Llamar: </h3>
			<a href="tel:+50240044592">Llamar ahora</a>
		</div>
	</div>
</section>	
	